<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div id="main">
        <h1>
            The real App {{name_app}}
        </h1>
        <form @submit.prevent="login" v-if="!is_Log">

            <h1 v-if="!is_Log">
                Bienvenido Usuario


                <fieldset>
                    <label>
                        Email
                    </label>
                    <input type="email" v-model="email">
                </fieldset>

                <fieldset>
                    <label>
                        Password
                    </label>
                    <input type="password" v-model="password">
                </fieldset>
                <button type="submit">
                    Access
                </button>
            </h1>
        </form>


    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp, ref } = Vue
        createApp({
            data() {
                const name_app = ref('El real OG VueJS');
                const email = ref('');
                const password = ref('');
                const is_Log = ref(false);
                return {
                    email,
                    password,
                    name_app,
                    is_Log
                }
            },
            methods: {
                login() {
                    console.log(this.email),
                        console.log(this.password)

                    fetch('users.json')
                        .then(response => response.json())
                        .then(users => {
                            users.forEach(user => {
                                if (user.email === this.email && user.password === this.password) {
                                    this.is_Log = ref(true);
                                    console.log(this.is_Log)
                                }
                            });
                        });

                }
            }
        }).mount('#main')
    </script>


</body>