body {
    background-color: #1a1a1a; /* Fondo negro oscuro */
    color: #e0e0e0; /* Texto claro */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    background-color: #2a2a2a; /* Fondo gris oscuro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

fieldset {
    border: 1px solid #444; /* Borde gris oscuro */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

legend {
    font-size: 20px;
    color: #ff4d4d; /* Rojo suave */
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #e0e0e0; /* Color del texto */
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #444; /* Borde gris oscuro */
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #e0e0e0;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input::placeholder {
    color: #8e8e8e; /* Color de los placeholders */
}

input:focus {
    outline: none;
    border-color: #ff4d4d; /* Color rojo cuando se selecciona el campo */
    box-shadow: 0 0 5px rgba(255, 77, 77, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #ff4d4d; /* Botón rojo suave */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e04343; /* Rojo más oscuro al pasar el mouse */
}